/* connect {}: controls servers we connect to (OLD C:, N:, H:, L:) */

/*
connect "" {
	host = "";

	send_password = "";
	accept_password = "";
	
	port = 7030;

	hub_mask = "*";

	class = "server";
	flags = ssl, topicburst, autoconn;
};

service {
        name = "";
};

cluster {
	name = "";
	name = "";
	flags = all;
};
*/
