## <unknown> 		 - Intial Config	- Osaka
## 05 November 	2015 - Added SSL 		- Osaka
## 10 May 		2016 - Moved to ansible - Osaka

limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

server {
        listen      80;
        server_name matrix.ac www.matrix.ac;        
        rewrite        ^ https://matrix.ac$request_uri? permanent;
}

server {
        listen 443 ssl;
        server_name localhost matrix.ac www.matrix.ac;

        ssl_certificate     /etc/letsencrypt/live/www.matrix.ac/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/www.matrix.ac/privkey.pem;

        limit_req      zone=one burst=10 nodelay;

        location ~ ^/~(.+?)(/.*)?$ {
                alias /home/$1/public_html$2;
        }

        location / {
                root /var/www/html/;
                autoindex on;
        }
}
