---
# file: roles/users/tasks

# Skel folder 
- file: path=/etc/skel/public_html owner=root group=root state=directory mode=0755
- template: src=index.html dest=/etc/skel/public_html/index.html owner=root group=root mode=0644
- file: path=/etc/skel/public_repos owner=root group=root state=directory mode=0755
- file: path=/etc/skel/.ssh owner=root group=root state=directory mode=0744

# Admin Scripts
- template: src=adm-adduser.j2 dest=/usr/sbin/adm-adduser owner=root group=sudo mode="u=rx,g=rx,o="
- template: src=fixwebperms.pl dest=/usr/local/bin/fixwebperms owner=root group=root mode="u=rxw,g=rx,o=rx"

# SSHD
- lineinfile: dest=/etc/ssh/sshd_config regexp="PasswordAuthentication" line="PasswordAuthentication no"
- lineinfile: dest=/etc/ssh/sshd_config regexp="^AuthenticationMethods" line="AuthenticationMethods publickey"
- lineinfile: dest=/etc/ssh/sshd_config regexp="^PermitRootLogin" line="PermitRootLogin prohibit-password"
- lineinfile: dest=/etc/ssh/sshd_config regexp="^X11Forwarding" line="X11Forwarding no"
- lineinfile: dest=/etc/ssh/sshd_config regexp="^X11Forwarding" line="X11Forwarding no"
- service: name=nginx state=restarted
