---
# file: roles/web/tasks
- name: Install webserver and requirements.
  apt: name={{ item }} state=present
  with_items:
   - nginx
   - git
   - jekyll

- name: Configure nginx
  template: src=matrix.ac.j2 dest=/etc/nginx/sites-enabled/matrix.ac
  notify: restart nginx

- name: http service state
  service: name=nginx state=started enabled=yes