server {
        listen 8080;
        server_name localhost {{ cgit_hostname }};

        root /usr/share/cgit; 
		try_files 	$uri @cgit;

        server_name {{ cgit_hostname }};

		location @cgit {
			include             fastcgi_params;
			fastcgi_param       SCRIPT_FILENAME /usr/lib/cgit/cgit.cgi; 
			fastcgi_param       PATH_INFO       $uri;
			fastcgi_param       QUERY_STRING    $args;
			fastcgi_param       HTTP_HOST       $server_name;
		 	fastcgi_pass 	    unix:/run/fcgiwrap.socket;
		}

		#rewrite ^ https://{{ cgit_hostname }}$request_uri? permanent;
}


