server {
        listen      80;
        server_name {{ cgit_hostname }};
        rewrite     ^ https://{{ cgit_hostname }}$request_uri? permanent;
}


server {
        listen 443 ssl;
        server_name {{ cgit_hostname }};

        ssl_certificate     /etc/letsencrypt/live/{{ cgit_hostname }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ cgit_hostname }}/privkey.pem;

        root /usr/share/cgit; 
		try_files 	$uri @cgit;

        server_name {{ cgit_hostname }};

		location @cgit {
			include             fastcgi_params;
			fastcgi_param       SCRIPT_FILENAME /usr/lib/cgit/cgit.cgi; 
			fastcgi_param       PATH_INFO       $uri;
			fastcgi_param       QUERY_STRING    $args;
			fastcgi_param       HTTP_HOST       $server_name;
		 	fastcgi_pass 	    unix:/run/fcgiwrap.socket;
		}

		#rewrite ^ https://{{ cgit_hostname }}$request_uri? permanent;
}


